#contact_modal {
    display: none;
}

/* Header */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #525252;
}

.photograph-header__contact {
    display: flex;
    flex-direction: column;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 36px;

    margin-bottom: -10px;
}

.photograph-header p:first-of-type {
    color: #901C1C;
    font-size: 13px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button, .send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* END HEADER */

/* Media card */

.medias_section__header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    padding-bottom: 60px;
    font-weight: 700;
}

.medias_section__header #menu {
    background-color: #901C1C;
    color: white;
    border: none;
    padding: 12px 16px;
    width: 150px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}

.medias_section {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.medias_section__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}

.medias_section article {
    color:#901C1C;
    font-size: 16px;

    margin-bottom: -90px;
}

.medias_section article img,
.medias_section article video {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: #C4C4C4;
}

.medias_section button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color:#901C1C;
}

.medias_section__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.medias_section__insert {
    z-index: 2;
    position: fixed;
    bottom: 0px;
    right: 40px;
    min-width: 300px;
    height: 80px;
    background-color: #DB8876;
    border-radius: 5px;
    padding: 0px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 24px;
    line-height: 150%;
}

/* END Media Card */


/* Modal */

.visually-hidden {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-height: calc(100% - 100px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 50px auto; 

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: 0;
}

/* FORM */

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* LightBOX */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

.close {
    position: absolute;
    top:10px;
    right: 25px;
    font-size: 65px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


#lightbox {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: #901C1C;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    background-color: #C4C4C4;
    position: relative;
    width: 80%;
    max-width: 1050px;
    height: 90%;
    max-height: 900px;
}

/* Navigation lightbox */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption */

.caption-container {
    color: #901C1C;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
}